<nav class="navbar navbar-default">
  <div class="navbar">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="nav" >
        <ul class="nav navbar">
          <li routerLinkActive="active" style="padding-right:12px;">
            <a routerLink="/recipes">Recipes</a>
          </li>
          <li routerLinkActive="active" style="padding-right:12px;">
            <a routerLink="/shopping-list">Shopping List</a>
          </li>
       </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown #r="appDropdown">
          <a style="cursor:pointer;" class="dropdown-toggle" role="button">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
            <li><a style="cursor:pointer;">Save Date</a></li>
            <li><a style="cursor:pointer;">Fetch Data</a></li>
          </ul>
        </li>
    </ul>
  </div>
</nav>
